.panda-bg {
    background: #FEEAE9;
}

.panda-btn {
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border-radius: 6px;
    padding: 14px 20px;

    width: 168px;
    height: 52px;
}